<!-- Page Content -->

<!-- Page Heading/Breadcrumbs -->
<div class="container">
  <div class="product-header body-header">
    <div class="carousel-caption-secondary carousel-caption-title carousel-caption-title-shrink">
      <br><br><br>
      <h3 class="logo-initial-cap">Rosewall Gravel Pit</h3>
    </div>
    <%= image_tag("meglet-truck-banner.jpg", alt: "Rosewall Gravel Pit - Meglet Transport - Qualicum Beach - Vancouver Island - Screening gravel with screener and backhoe", class: "product-header-img") %>
  </div>
</div>

<div class="container">
  <div class="bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 product-header-text">
          <div class="services-text text-white text-center">
            <h2 class="logo-initial-cap">Prompt Delivery, With Experienced Operators</h2>
            <p>With years of experience laying a solid foundation, Rosewall Gravel Pit can offer delivery to your road
              site or backyard. Servicing the Parksville - Comox region and surrounding areas.</p>
            <p>Delivering by the ton or by the yard, <%= link_to "contact us", '/contact', class: 'no-link' %> to
              discuss your project, plans and options.</p>
            <p>Large hauling capacity and quick turnarounds can make your contract work a breeze.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-6 portfolio-item">
      <div class="card card-portfolio h-100">
        <%= image_tag("fill-sand.jpg", alt: "Rosewall Gravel Pit - Delivering Fill Sand To Customers around Parksville", class: "card-image-portfolio") %>
        <div class="card-body">
          <h4 class="card-title">
            Local Professionals
          </h4>
          <p class="card-text">With the right tools, equipment and expertise at their disposal; Rosewall Gravel Pit can
            support any endeavor. </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 portfolio-item">
      <div class="card card-portfolio h-100">
        <%= image_tag("meglet-truck-back.jpg", alt: "Rosewall Gravel Pit - Black Pickup for picking local delivery and other projects.", class: "card-image-portfolio") %>
        <div class="card-body">
          <h4 class="card-title">
            Any Amount, Any Where
          </h4>
          <p class="card-text">Serving the island, we can delivery what you need, when you need it. Use our calculator
            to estimate your needs.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 portfolio-item">
      <div class="card card-portfolio h-100">
        <%= image_tag("backyard-box.jpg", alt: "Rosewall Gravel Pit - Local Qualicum Courtenay Comox Parksville Gravel Pit Run", class: "card-image-portfolio") %>
        <div class="card-body">
          <h4 class="card-title">
            <%= link_to "Contact Us", '/contact', class: 'no-link' %>
          </h4>
          <p class="card-text">Get in touch to discuss your needs and request a quote.</p>
        </div>
      </div>
    </div>
  </div>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/">Home</a>
    </li>
    <li class="breadcrumb-item active">Products</li>
  </ol>

</div>
<!-- /.container -->