<div class="bg-red body-header">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item  active" style="background: url(<%= asset_path 'rosewall-piles.jpg' %>)">
        <div class="carousel-caption carousel-caption-title">
          <h1 class="logo-initial-cap">Rosewall Gravel Pit</h1>
          <p>Screening sand, gravel, drainage rock and aggregate for any project.</p>
        </div>
        <div class="carousel-caption  carousel-caption-bg">
          <h3><%= link_to "Large and Small", "/contact", class: 'no-link' %></h3>
          <p>We can provide materials for large scale operations down to the backyard project.
        </div>
      </div>
      <div class="carousel-item" style="background: url(<%= asset_path 'rosewall-operation.jpg' %>)">
        <div class="carousel-caption  carousel-caption-title">
          <h1 class="logo-initial-cap">Rosewall Gravel Pit</h1>
          <p>Screening sand, gravel, drainage rock and aggregate for any project.</p>
        </div>
        <div class="carousel-caption carousel-caption-bg">
          <h3><%= link_to "Wide Selection of Materials", "/product", class: 'no-link' %></h3>
          <p>We can provide the right material to suit your needs.</p>
        </div>
      </div>
      <div class="carousel-item" style="background: url(<%= asset_path 'rosewall-pit-truck.jpg' %>)">
        <div class="carousel-caption carousel-caption-title">
          <h1 class="logo-initial-cap">Rosewall Gravel Pit</h1>
          <p>Screening sand, gravel, drainage rock and aggregate for any project.</p>
        </div>
        <div class="carousel-caption carousel-caption-bg">
          <h3><%= link_to "Hauling and Delivery", "/delivery", class: 'no-link' %></h3>
          <p>A variety of options to get the product to where you need it.</p>
        </div>
      </div>

      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <br><br>
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
  </div>
</div>
<div class="wide-container bg-dark-fade">
  <div class="container ">
    <ol class="wide-container-content ">
      <li class="breadcrumb-item active text-white">Serving the Lighthouse County and surrounding areas, we are
        the local gravel pit you can trust. Located just off the Island Highway, we are able to provide for any project,
        large or small, and are able to provide delivery.
      </li>
    </ol>
  </div>
</div>
<div class="container">
  <br>
  <div class="row">
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <%= image_tag("large-operation.jpg", alt: "Rosewall Pit - Qualicum Bay - Gravel site conveyor belt adding to gravel pile", class: "card-image") %>
        <div class="card-body">
          <h4 class="card-title">
            <%= link_to "Large Operations", '/contact', class: 'no-link' %>
          </h4>
          <p class="card-text">We can provide for any large scale construction or contract needs.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <%= image_tag("black-truck.jpg", alt: "Rosewall Pit - Qualicum Beach - Truck Loading Gravel At A Road Construction Site", class: "card-image") %>
        <div class="card-body">
          <h4 class="card-title">
            <%= link_to "Small Projects", '/contact', class: 'no-link' %>
          </h4>
          <p class="card-text">The simple backyard fix or a new driveway; Rosewall Gravel Pit can fill your order.</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <%= image_tag("backyard.jpg", alt: "Rosewall Pit - Vancouver Island - Truck unloading gravel at a home construction site", class: "card-image") %>
        <div class="card-body">
          <h4 class="card-title">
            <%= link_to "Delivery", "/delivery", class: 'no-link' %>
          </h4>

          <p class="card-text">Delivering large and small to the Qualicum Region and surrounding areas.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.row -->