<!-- Slider area -->
<section class="slider_area row m0">
  <div class="slider_inner">
    <div data-thumb="<%= asset_path 'rosewall-slider-excavate.jpg' %>" data-src="<%= asset_path 'rosewall-slider-excavate.jpg' %>">
      <div class="camera_caption">
        <div class="container">
          <h5 class=" wow fadeInUp animated caption-text">Welcome To</h5>
          <h3 class=" wow fadeInUp animated caption-text" data-wow-delay="0.5s"><span class="logo-initial-cap">R</span>osewall Gravel Pit</h3>
          <p class=" wow fadeInUp animated caption-text" data-wow-delay="0.5s">Providing Sand, Gravel, Landscaping Material, Road
            Crush And More To The Qualicum Area, Fanny Bay, Union Bay, Parksville, Nanaimo And Beyond.</p>
          <a class=" wow fadeInUp animated" data-wow-delay="1s" href="/products">Read More</a>
        </div>
      </div>
    </div>
    <div data-thumb="<%= asset_path 'rosewall-slider-operations.jpg' %>" data-src="<%= asset_path 'rosewall-slider-operations.jpg' %>">
      <div class="camera_caption">
        <div class="container">
          <h5 class=" wow fadeInUp animated caption-text">Welcome To</h5>
          <h3 class=" wow fadeInUp animated caption-text" data-wow-delay="0.5s"><span class="logo-initial-cap">R</span>osewall Gravel Pit</h3>
          <p class=" wow fadeInUp animated caption-text" data-wow-delay="0.5s">Providing Sand, Gravel, Landscaping Material, Road
            Crush And More To The Qualicum Area, Fanny Bay, Union Bay, Parksville, Nanaimo And Beyond.</p>
          <a class=" wow fadeInUp animated" data-wow-delay="1s" href="/products">Read More</a>
        </div>
      </div>
    </div>
    <div data-thumb="<%= asset_path 'rosewall-slider-screener.jpg' %>" data-src="<%= asset_path 'rosewall-slider-screener.jpg' %>">
      <div class="camera_caption">
        <div class="container">
          <h5 class=" wow fadeInUp animated caption-text">Welcome To</h5>
          <h3 class=" wow fadeInUp animated caption-text" data-wow-delay="0.5s"><span class="logo-initial-cap">R</span>osewall Gravel Pit</h3>
          <p class=" wow fadeInUp animated caption-text" data-wow-delay="0.5s">Providing Sand, Gravel, Landscaping Material, Road
            Crush And More To The Qualicum Area, Fanny Bay, Union Bay, Parksville, Nanaimo And Beyond.</p>
          <a class=" wow fadeInUp animated" data-wow-delay="1s" href="/products">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Slider area -->



<!-- services -->
<section id="services" class="services_grid row">
  <div class="container">
    <div class="row builder_all">
      <div class="col-sm-4 col-xs-12 service_card">
        <i class="fa fa-home" aria-hidden="true"></i>
        <h4>We Deliver Quality</h4>
        <p>We can bring your product to your door, where you want it, when you want it. Delivering gravel, sand, road
          crush and anything in between around Vancouver Island.</p>
      </div>
      <div class="col-sm-4 col-xs-12 service_card">
        <i class="fa fa-road" aria-hidden="true"></i>
        <h4>Large Or Small</h4>
        <p>Rosewall has the equipment, gravel, material and experience to provide for any size operation; from your
          new
          driveway, a new service road or a commercial contract, we have got your back.</p>
      </div>
      <div class="col-sm-4 col-xs-12 service_card">
        <i class="fa fa-handshake" aria-hidden="true"></i>
        <h4>Locally Owned and Operated</h4>
        <p>Newly opened and located near Qualicum Beach, we are your local gravel and aggregate provider with over 50
          years experience in the industry.</p>
      </div>
    </div>
  </div>
</section>

<!-- About Us -->
<section class="about_us_area row">
  <div class="container">
    <div class="title_s wow fadeInUp">
      <h2>Rosewall Gravel Pit</h2>
      <h4>Serving the Lighthouse County and surrounding areas, we are the local gravel pit you can trust.</h4>
    </div>
    <div class="row about_row">
      <div class="who_we_area col-md-7 col-sm-6">
        <div class="subtitle_s">
          <h2>WHO WE ARE</h2>
        </div>
        <p>Located just off the Island Highway, between Qualicum Beach and Parksville, Rosewall Gravel Pit is able to
          provide for any project, large or small. Producing sand, gravel, drain rock, navy jack and more, we can
          deliver it direct to your door or project.</p>
        <a href="/contact" class="button_all">Contact Now</a>
      </div>
      <div class="col-md-5 col-sm-6 about_client">
        <%= image_tag("rosewall-about-me-landscape.jpg", alt: 'Rosewall Gravel Pit Aerial Shot - Loader, Excavator, Screener, Sand Gravel') %>
      </div>
    </div>
  </div>
</section>

<section class="what_we_area row">
  <div class="container">
    <div class="title_s wow fadeInUp">
      <h2>WHAT WE OFFER</h2>
      <h4>Rosewall Gravel Pit produces all the standard materials, but feel free to contact us for any special inquiries.</h4>
    </div>
    <div class="row offer_inner">
      <%= render "layouts/products_carousel" %>
    </div>
  </div>
</section>

<!-- JSON-LD markup generated by Google Structured Data Markup Helper. -->
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Organization",
  "name" : "Rosewall Gravel Pit",
  "image" : "http://www.rosewallpit.com/assets/logo-231a18108164d561e7e2a3dd96d59224ff9a6b00b5d00055b9a78ee97f6ee347.png",
  "telephone" : "+12502252894",
  "email" : "meglettransport@gmail.com",
  "address" : {
    "@type" : "PostalAddress",
    "streetAddress" : "8560 Island Hwy S.",
    "addressLocality" : "Fanny Bay",
    "addressRegion" : "BC",
    "addressCountry" : "Canada",
    "postalCode" : "V9K 2E1"
  },
  "description": "Serving the Lighthouse County, Qualicum, Qualicum Beach, Parksville and surrounding areas, we are the local gravel pit you can trust. Located just off the Island Highway, we are able to provide for any project, large or small, and are able to provide delivery. Sand, aggregate, navyjack, road crush, landscaping material; we have it all.",
  "url" : "http://www.rosewallpit.com/"
}
</script>
<!-- /.row -->