<!-- Page Content -->

<!-- Page Heading/Breadcrumbs -->
<div class="container">
  <div class="product-header body-header">
    <div class="carousel-caption-secondary carousel-caption-title carousel-caption-title-shrink">
      <br><br><br>
      <h3 class="logo-initial-cap">Rosewall Gravel Pit</h3>
    </div>
    <%= image_tag("rosewall-conveyor-banner.jpg", alt: "Rosewall Gravel Pit - Qualicum Beach - Vancouver Island - Screening gravel with screener and backhoe", class: "product-header-img") %>
  </div>

  <div class="bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 product-header-text">
          <div class="services-text text-white text-center">
            <h2 class="logo-initial-cap">Screening Sand, Gravel, Drainage Rock And Aggregate For Any Project.</h2>
            <hr>
            <p>Located just north of Qualicum Beach on Vancouver Island, we can help with any landscaping, home
              building,
              road construction or
              other project you might be working on.</p>
            <p>Call us and organize a visit to the gravel pit to view our selection or pick up your materials.</p>
            <p>We also offer delivery to the surrounding areas at affordable rates.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
      <div class="card card-portfolio h-100">
        <%= image_tag("fill-sand.jpg", alt: "Fill Sand", class: "card-image-portfolio") %>
        <div class="card-body">
          <h4 class="card-title">
            Fill Sand
          </h4>
          <p class="card-text">Filling Sand is ideal for backfilling, especially after plumbing and electrical works.
            It's also suitable for use as a baselayer for concrete, paving and paths</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
      <div class="card card-portfolio h-100">
        <%= image_tag("coarse-sand.jpg", alt: "Coarse Sand", class: "card-image-portfolio") %>
        <div class="card-body">
          <h4 class="card-title">
            Coarse Sand
          </h4>
          <p class="card-text">Coarse Sand is our concrete sand that is washed and screened to a larger grit than our
            Fill Sand (masonry sand). Coarse Sand is used with aggregate, water, and cement in the production of
            ready-mix concrete</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
      <div class="card card-portfolio h-100">
        <%= image_tag("pea-gravel.jpg", alt: "Pea Gravel", class: "card-image-portfolio") %>
        <div class="card-body">
          <h4 class="card-title">
            Pea Gravel
          </h4>
          <p class="card-text">pea gravel is known for it's attractive appearance and is commonly used in above ground
            applications. These types of projects can include walkways and areas around stepping stones in walkways.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
      <div class="card card-portfolio h-100">
        <%= image_tag("drain-rock-10.jpg", alt: "10mm Drain Rock", class: "card-image-portfolio") %>
        <div class="card-body">
          <h4 class="card-title">
            10mm Drain Rock
          </h4>
          <p class="card-text">Drainage gravels are generally used to help move water around, or away from, your
            property. The most common usage is behind retaining walls or drainage trenches underneath lawns and
            gardens.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
      <div class="card card-portfolio h-100">
        <%= image_tag("drain-rock-20.jpg", alt: "20mm Drain Rock", class: "card-image-portfolio") %>
        <div class="card-body">
          <h4 class="card-title">
            20mm Drain Rock
          </h4>
          <p class="card-text">Drainage gravels are generally used to help move water around, or away from, your
            property. The most common usage is behind retaining walls or drainage trenches underneath lawns and
            gardens.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
      <div class="card card-portfolio h-100">
        <%= image_tag("oversized-rock.jpg", alt: "Oversized Rocks", class: "card-image-portfolio") %>
        <div class="card-body">
          <h4 class="card-title">
            Landscaping Rocks
          </h4>
          <p class="card-text">Rocks, stones and boulders in a variety of shapes and sizes for all your landscaping or
            decorative needs.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
      <div class="card card-portfolio h-100">
        <%= image_tag("navvy-jack.jpg", alt: "Navvy Jack", class: "card-image-portfolio") %>
        <div class="card-body">
          <h4 class="card-title">
            Navvy Jack
          </h4>
          <p class="card-text">A sand and gravel mix that is ideal for hand mixing concrete and is cheaper than
            purchasing bags of pre-concrete mix.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
      <div class="card card-portfolio h-100">
        <%= image_tag("pit-run-gravel.jpg", alt: "Pit Run", class: "card-image-portfolio") %>

        <div class="card-body">
          <h4 class="card-title">
            Pit Run Gravel
          </h4>
          <p class="card-text">This is an unmanufactured gravel which is dug out of the bank. It has rocks up to 12″ ,
            but typically 6″ and less. It is used for a base for roads and driveways and should be placed in layers 12″
            thick or more.</p>
        </div>
      </div>
    </div>
  </div>

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/">Home</a>
    </li>
    <li class="breadcrumb-item active">Products</li>
  </ol>

</div>
<!-- /.container -->