<div class="preloader"></div>

<!-- Banner area -->
<section class="banner_area caption-text" data-stellar-background-ratio="0.5">
  <h2>Our Services</h2>
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="#" class="active">Services</a></li>
  </ol>
</section>
<!-- End Banner area -->

<!-- Our Services Area -->
<section class="our_services_tow">
  <div class="container">
    <div class="architecture_area services_pages">
      <div class="portfolio_filter portfolio_filter_2">
        <ul>
          <li data-filter=".products" class="active">
            <a href="active"><i class="fa fa-check" aria-hidden="true"></i>All Products</a>
          </li>
          <li data-filter=".domestic" class=""><a href=""><i class="fa fa-home" aria-hidden="true"></i>Home</a>
          </li>
          <li data-filter=".commercial"><a href=""><i class="fa fa-cogs" aria-hidden="true"></i>Commercial</a></li>
          <li data-filter=".hauling">
            <a href=""><i class="fa fa-truck-pickup" aria-hidden="true"></i>Hauling & Delivery</a></li>

          <li data-filter=".contact"><a href="/contact"><i class="fa fa-envelope" aria-hidden="true"></i>Contact Us</a>
          </li>
        </ul>
      </div>
      <!--PRODUCTS-->
      <div class="portfolio_item portfolio_2">
        <div class="grid-sizer-2"></div>
        <div class="single_facilities col-sm-12 products">
          <div class="row">
            <div class="col-sm-12">
              <section class="what_we_area">
                <div class="title_s wow fadeInUp">
                  <h2>WHAT WE OFFER</h2>
                  <h4>Rosewall Gravel Pit produces all the standard materials, but feel free to contact us for any
                    special
                    inquiries.</h4>
                </div>
                <div class="row offer_inner">
                  <%= render "layouts/products_carousel" %>
                </div>
              </section>
            </div>
          </div>
        </div>

        <div class="single_facilities col-sm-12 domestic">
          <div class="row">
            <div class="col-sm-6">

              <div class="who_we_area">
                <div class="subtitles">
                  <h2>Home Projects</h2>
                </div>
                <p>Need a little sand for the backyard? Building a new shed that requires a little extra foundation?
                  Filling in the low spots? We can provide a little, or a lot, of the material you need. </p>
                <a href="/contact" class="button_all">Contact Now</a>
              </div>
            </div>
            <div class="col-sm-6">
              <%= image_tag("products_home_delivery.jpg", alt: "Rosewall Gravel Pit - Home Supply - Gravel Supply Excavator - Truck Delivery - Victoria - Parksville - Qualicum", class: "card-image-portfolio") %>

            </div>
          </div>
        </div>
        <!--          COMMERCIAL-->
        <div class="single_facilities col-sm-12 commercial">
          <div class="row">
            <div class="col-sm-6">

              <div class="who_we_area">
                <div class="subtitles">
                  <h2>Commercial Projects</h2>
                </div>
                <p>With many years of experience in the industry; crushing, screening, hauling, contracting, and more.
                  Rosewall has the knowledge, ability and equipment to take on any project. Contact us for your next
                  home build, new road or any other opportunity.</p>
                <a href="/contact" class="button_all">Contact Now</a>
              </div>
            </div>
            <div class="col-sm-6">
              <%= image_tag("product_commercial_landscape.jpg", alt: "Rosewall Gravel Pit - Commercial Gravel and Material Supply - Gravel Supply Loader - Truck - Victoria - Parksville - Qualicum", class: "card-image-portfolio") %>
            </div>
          </div>
        </div>
        <!--          HAULING-->
        <div class="single_facilities col-sm-12 hauling">
          <div class="row">
            <div class="col-sm-6">
              <div class="who_we_area">
                <div class="subtitles">
                  <h2>Hauling And Delivery</h2>
                </div>
                <p>Rosewall has a variety of options to get your product where you need it. Just let us know when
                  and where!</p>
                <a href="/delivery" class="button_all">Read More</a>
              </div>
            </div>
            <div class="col-sm-6">
              <%= image_tag("products_home_excavator.jpg", alt: "Rosewall Gravel Pit - Home Supply - Gravel Supply Excavator - Truck Delivery - Victoria - Parksville - Qualicum", class: "card-image-portfolio") %>
            </div>
          </div>
        </div>
        <div class="single_facilities col-sm-12 contact">
          <div class="row">
            <div class="col-sm-6 contact_info">
              <br>
              <br><br>
              <h2>Get In Touch</h2>
              <hr>
              <p>Feel free to get in touch with our knowledgable team for any questions or concerns you may have.</p>
              <hr>
              <div class="location">
                <div class="address">
                  <p href="">8560 Island Hwy S. Fanny Bay, BC, V9K 2E1</p><br>
                  <p href="">Call Terry at: (250) 228-2894</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 contact_info send_message">
              <%= render 'contacts/form', contact: Contact.new %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
