<div class="owl-carousel owl-theme">
  <div class="offering item portfolio-item">
    <div class="cns-img">
      <%= image_tag("fill-sand.jpg", alt: "Fill Sand", class: "card-image-portfolio") %>
    </div>
    <div class="cns-content index-product-content">
      <i class="fa product-card-letter" aria-hidden="true"><span>R</span></i>
      <a href="#">
        Fill Sand
      </a>
      <p class="card-text">Filling Sand is ideal for backfilling, especially after plumbing and electrical
        works.
        It's also suitable for use as a baselayer for concrete, paving and paths</p>
    </div>
  </div>
  <div class="offering item portfolio-item">
    <div class="cns-img">
      <%= image_tag("coarse-sand.jpg", alt: "Coarse Sand", class: "card-image-portfolio") %>
    </div>
    <div class="cns-content index-product-content">
      <i class="fa product-card-letter" aria-hidden="true"><span>R</span></i>
      <a href="#">
        Coarse Sand
      </a>
      <p class="card-text">Coarse Sand is our concrete sand that is washed and screened to a larger grit than
        our
        Fill Sand (masonry sand). Coarse Sand is used with aggregate, water, and cement in the production of
        ready-mix concrete</p>
    </div>
  </div>
  <div class="offering item portfolio-item">
    <div class="cns-img">
      <%= image_tag("pea-gravel.jpg", alt: "Pea Gravel", class: "card-image-portfolio") %>
    </div>
    <div class="cns-content index-product-content">
      <i class="fa product-card-letter" aria-hidden="true"><span>R</span></i>
      <a href="#">
        Pea Gravel
      </a>
      <p class="card-text">pea gravel is known for it's attractive appearance and is commonly used in above
        ground
        applications. These types of projects can include walkways and areas around stepping stones in
        walkways.</p>
    </div>
  </div>
  <div class="offering item portfolio-item">
    <div class="cns-img">
      <%= image_tag("drain-rock-10.jpg", alt: "10mm Drain Rock", class: "card-image-portfolio") %>
    </div>
    <div class="cns-content index-product-content">
      <i class="fa product-card-letter" aria-hidden="true"><span>R</span></i>
      <a href="#">
        10mm Drain Rock
      </a>
      <p class="card-text">Drainage gravels are generally used to help move water around, or away from, your
        property. The most common usage is behind retaining walls or drainage trenches underneath lawns and
        gardens.</p>
    </div>
  </div>
  <div class="offering item portfolio-item">
    <div class="cns-img">
      <%= image_tag("drain-rock-20.jpg", alt: "20mm Drain Rock", class: "card-image-portfolio") %>
    </div>
    <div class="cns-content index-product-content">
      <i class="fa product-card-letter" aria-hidden="true"><span>R</span></i>
      <a href="#">
        20mm Drain Rock
      </a>
      <p class="card-text">Drainage gravels are generally used to help move water around, or away from, your
        property. The most common usage is behind retaining walls or drainage trenches underneath lawns and
        gardens.</p>
    </div>
  </div>
  <div class="offering item portfolio-item">
    <div class="cns-img">
      <%= image_tag("oversized-rock.jpg", alt: "Oversized Rocks", class: "card-image-portfolio") %>
    </div>
    <div class="cns-content index-product-content">
      <i class="fa product-card-letter" aria-hidden="true"><span>R</span></i>
      <a href="#">
        Landscaping Rocks
      </a>
      <p class="card-text">Rocks, stones and boulders in a variety of shapes and sizes for all your landscaping
        or
        decorative needs.</p>
    </div>
  </div>
  <div class="offering item portfolio-item">
    <div class="cns-img">
      <%= image_tag("navvy-jack.jpg", alt: "Navvy Jack", class: "card-image-portfolio") %>
    </div>
    <div class="cns-content index-product-content">
      <i class="fa product-card-letter" aria-hidden="true"><span>R</span></i>
      <a href="#">
        Navvy Jack
      </a>
      <p class="card-text">A sand and gravel mix that is ideal for hand mixing concrete and is cheaper than
        purchasing bags of pre-concrete mix.</p>
    </div>
  </div>
  <div class="offering item portfolio-item">
    <div class="cns-img">
      <%= image_tag("pit-run-gravel.jpg", alt: "Pit Run", class: "card-image-portfolio") %>

    </div>
    <div class="cns-content index-product-content">
      <i class="fa product-card-letter" aria-hidden="true"><span>R</span></i>
      <a href="#">
        Pit Run Gravel
      </a>
      <p class="card-text">This is an unmanufactured gravel which is dug out of the bank. It has rocks up to 12″
        ,
        but typically 6″ and less. It is used for a base for roads and driveways and should be placed in layers
        12″
        thick or more.</p>
    </div>
  </div>
</div>
<script>
    $('.owl-carousel').owlCarousel({
        loop: true,
        margin: 10,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 3
            },
            1000: {
                items: 4
            }
        },
        autoplay: true,
        autoplayTimeout: 1000,
        autoplayHoverPause: true
    })
</script>