<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag asset_path('icon.ico'), :rel => 'icon', :type => "image/x-icon" %>

  <meta charset="utf-8">
<!--  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
  <title>Rosewall Gravel Pit - <%= content_for?(:title) ? yield(:title) : 'Gravel, Sand and Landscaping Material' %> </title>
  <meta name='description'
        content='<%= yield_meta_tag(:description, 'Rosewall Gravel Pit - Serving Qualicum & surrounding areas - Vancouver Island - Sand, Soil, Gravel, Landscaping & Aggregate Supply. Local supplier of sand, gravel, aggregate and landscaping materials. With a wide range of materials and delivery options they can provide for any project size or scope.') %>' />
  <meta name='keywords'
        content='<%= yield_meta_tag(:keywords, 'gravel,sand,soil,road crush,aggregate,landscaping,delivery') %>' />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3.0, minimum-scale=0.86">

  <meta name="author" content="Rosewall Gravel Pit">
  <meta name="msvalidate.01" content="752047DB247EC6F1323D0F757A4595B9" \/>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127078414-1"></script>
  <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
          dataLayer.push(arguments);
      }

      gtag('js', new Date());

      gtag('config', 'UA-127078414-1');
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/web-animations/2.2.2/web-animations.min.js"></script>
</head>

<body>
<%= render 'layouts/navigation' %>
<%= yield %>

<!-- Footer -->
<%= render 'layouts/footer' %>

</body>
</html>
