<!DOCTYPE html>
<html>
<head>
  <title>Rosewall Gravel Pit - Gravel, Sand and Landscaping Material Around Parksville</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Rosewall Gravel Pit - Servicing Qualicum and surrounding areas - Vancouver Island - Is a local supplier of sand, gravel, aggregate and landscaping materials to the Parksville - Qualicum area. With a wide range of materials and delivery options they can provide for any project size or scope.">
  <meta name="author" content="Rosewall Gravel Pit">
  <meta name="msvalidate.01" content="752047DB247EC6F1323D0F757A4595B9" \/>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127078414-1"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-127078414-1');
  </script>
</head>

<body>
<%= render 'layouts/navigation' %>
<%= yield %>

<hr>
<!-- Footer -->
<footer class="py-5">
  <div class="container font-weight-bold text-md-center">
    <% link_to button_tag("Contact Us"), '/contact', class: 'btn btn-primary'  %>
  </div>
  <div class="container font-weight-bold text-md-center ">
    <a href="tel:2502282894" class="text-md-center text-white icon-img-text">   <%= image_tag('phone-white.png', alt: 'Phone Icon', class: 'icon-img') %>  Call Us 228-2894</a>
  </div>
  <!-- /.container -->
</footer>
<div class="container">
  <p class="m-0 text-left font-weight-light small-font">Created by ShatteredDesign 2018</p>
</div>
</body>
</html>
